<!DOCTYPE html>

<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    
    <meta charset="utf-8" />
    <title>Hello world!</title>
  </head>

  <body>
    <div style="display:-webkit-flex; display:flex; flex-wrap wrap; justify-content:center; align-items:center">
      <div style="width:100%; height:70px; border-style:dashed; border-width:1px; display:-webkit-flex; display:flex; flex-wrap nowrap; justify-content:center; align-items:center">
          <h1>Hello scOmics!</h1>
      </div>
    </div>
    
    <div style="display:-webkit-flex; display:flex; flex-wrap:wrap; justify-content:space-between">
      <div style="width:250px; height:150px; border-style:dashed; border-width:1px; display:-webkit-flex; display:flex; flex-wrap nowrap; justify-content:center; align-items:center">
        <span>
          <h1>Hello World!</h1>
          <hr />
          <input type="button" id="testInput" v-bind:value="message" style="width=150px"/>
        </span>
      </div>

      <div style="width:250px; height:150px; border-style:dashed; border-width:1px; display:-webkit-flex; display:flex; flex-wrap nowrap; justify-content:center; align-items:center">
        <h2>
          <math xmlns="https://www.w3.org/1998/Math/MathML">
            <mrow>
            <mi>y</mi>
            <mo>=</mo>
            <mi>a</mi><msup><mi>x</mi><mn>2</mn></msup>
            <mo>+</mo>
            <mi>b</mi><mi>x</mi>
            <mo>+</mo>
            <mi>c</mi>
            </mrow>
          </math>
        </h2>
      </div>
      
      <div style="width:250px; height:150px; border-style:dashed; border-width:1px; display:-webkit-flex; display:flex; flex-wrap nowrap; justify-content:center; align-items:center">
          <h1>Hello World!</h1>
      </div>
    </div>
  </body>

  <script src="./script/test.js"></script>
</html>