/*--Set--*/
a {
  text-decoration:none;
  color:black
}

/*--main Frame--*/
body {
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  
  font-family:"Serif";
  text-shadow: 2px 2px 2px grey;
}

.allFram {
  min-width:870px;
  max-width:900px;
  width:100%;
  margin:auto;

  display:flex;
  flex-flow:column nowrap;
  justify-content:space-between;
  align-items:center;
  
  font-family:"Serif";
  text-shadow: 2px 2px 2px grey;
}

/*--head Region--*/

.heaRegi {
  width:100%;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:stretch;
}

.titFram {
  height:60px;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  
  font-style:italic;
}

.navSeaFram {
  height:60px;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
}

.navFram {
  height:60px;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
  align-items:center;
}

.navWidget {
  height:40px;
  margin:8px;
  border-bottom-style:solid;
  border-bottom-width:2px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  
  transition:height 0.3s;
}

.seaFram {
  width:100%;
  height:80px;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
}

.seaInpWidget {
  width:75px;
  height:40px;
  margin:2px;
  border-style:none;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  
  font-style:italic;
  font-size: 16px;
  
  transition:width 0.3s, height 0.3s;
}

.seaButWidget {
  width:85px;
  height:30px;
  margin:2px;
  border-style:solid;
  border-radius:30px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
  
  box-shadow: 2px 2px 2px grey;
}

/*--main Region--*/

.maiRegi {
  width:100%;
  height:800px;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-between;
  align-items:center;
}

.maiBlocR {
  width:100%;
  height:100%;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:center;
  align-items:center;
}

.maiBlocC {
  width:100%;
  height:100%;
  margin:1px;
  
  display:flex;
  flex-flow:column nowrap;
  justify-content:center;
  align-items:center;
}

/*--bottom Region--*/

.botRegi {
  width:100%;
  margin:1px;
  
  display:flex;
  flex-flow:row nowrap;
  justify-content:space-around;
  align-items:center;
}

/*--common sytle--*/

.splLinR {
  width:100%;
  margin:15px;
  border-style:solid;
  border-width:1px;
}

.splLinC {
  width:0px;
  height:100%;
  margin:11px;
  border-style:solid;
  border-width:1px;
}